---
layout: default
---

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/{{ page.youtube | replace: 'https://www.youtube.com/watch?v=', '' | replace: 'https://youtu.be/', ''}}' frameborder='0' allowfullscreen></iframe></div>
<br>
{{ content }}
<br>
<p><small>Sumber lirik lagu: <a href="{{ page.sumber }}">{{ page.sumber }}</a></small></p>

<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						<a href="mailto:muhzaini30@gmail.com" class="btn btn-default">Email Me</a>
					</td>
					<td>
						<a href="https://github.com/mzaini30/apk/raw/master/Anisong%20Zone.signed.apk" class="btn btn-success">Get APK</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>